/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Global */
* {
  box-sizing: border-box;
}

body {
  background-color: #c3cfe2;
}

p {
  width: 100%;
  margin: 10%;
  font-family: "lato";
  font-weight: 400;
  font-size: 18pt;
  color: red;
}

div {
  &.card {
    opacity: 1;
    width: fit-content;
    height: fit-content;
    z-index: -1;

    img {
      width: 405px;
      height: auto;
    }

    &:hover {
      opacity: 0.1;
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-delay: 0s;
      transition-timing-function: ease-in-out;
    }
  }
  &.btn {
    position: relative;
    top: -200px;
    left: 125px;
    opacity: 0;
    z-index: 10;

    &:hover {
      opacity: 1;
    }
    button {
      width: 150px;
      height: 40px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}
